@import url('https://fonts.googleapis.com/css?family=Righteous'); 


html {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px; 
  }

body{
    background: #FFEEEE; 
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); 
    margin: 25px 25px;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    font-family: Calibri;
    font-size: 1rem;
}

#nutri::before {
  content: url(../final_images/nutr25x25-72dpi.png);
}

#ing::before {
  content: url(../final_images/ingredients-25x25-72dpi.png);
}

#dir::before {
  content: url(../final_images/cookingpot25x25-72dpi.png);
}


div{
text-align: left;
}

#navigation{
    border-radius: 15px 50px;
    background: #4CAF50;
    opacity: 0.4;
    padding: 20px; 
    width: 98%;
    height: 20px; 
}

#topsection{
    float: left;
    margin: 10px auto;
  /*  background-color: red;*/
    width: 100%;
}

#picture{
  margin-top: 40px;
    width: 49%;
    float: left;
  /*  background-color: yellow;*/
}

#heading{
    font-family: 'Righteous', cursive;
    text-align: center;
    width: 49%;
    height: 33%;
    float: right ;
    color: #4CAF50;
  font-size: 20px;
  /*  background-color: cyan;*/
}

#pitch{
    width: 49%;
    height: 33%;
    float: right ;
   /* background-color: darkgreen; */
    line-height: 15px;
    font-family: Calibri;
}

#nutrition{
    text-align: center;
    width: 49%;
    height: 33%;
    float: right ;
    max-width: 100%;
    max-height: 100%;
   /* background-color: pink;*/
}

#bottomsection{
    width: 100%;
    height: 100%;
    clear: both;
    float: left;
  /*  background-color: darkorchid;*/
}

#ingridents{
    width: 29%;
    text-align: left;
    float: left;
  /* background-color: darkslategray;*/
}

#directions{
    text-align: left;
    font-family: Calibri;
    line-height: 15px;
    width: 69%;
    float: right;
 /*   background-color: khaki;*/
}

ol{
    list-style-type: upper-roman;
    white-space: pre-wrap;
}

ul{
    list-style-type: circle;
}

#foot ul{
 
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}

#foot{
    clear: both;
    width: 100%;
    height: 100%;
    text-align: center;
   /* background-color: aqua;*/
}


img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

nav img{
  height: 500px;
  width: 50px;
}

footer img{
    clear: both;
    display: block;
    margin: 0 auto;
    width: 4%;
    height: 4%;

}

hr.new2 {
    border-top: 1px dashed gray;
  }

table{
    width: 100%;
    text-align: center;

}

tr, td {
    height: 5%;
  }

tr:hover {
  background-color: lightgrey;
}

th {
    background-color: #4CAF50;
    color: white;
}

h2{
    text-align: center;
}

.slider{
  margin-top: 2%;
  height: 427px;
  width: 48%;
  border-radius: 20px;
  box-shadow: 5px 5px 4px 5px #888888;
  float: left;
  background: url(../final_images/Butter_chicken_recipe\ 640x427-72dpi.jpg);
  animation: slide 20s infinite;
}


@keyframes slide {

33% {
  background: url(../final_images/Healthy-Instant-Pot-Butter-Chicken-640x427-72dpi.jpg);
}

66% {
  background: url(../final_images/Healthy-Instant-Pot-Chicken-Tikka-Masala-640x427-72dpi.jpg);
}
 
  
}