@import url('https://fonts.googleapis.com/css?family=Righteous'); /* importing of the google font */
@import url('https://fonts.googleapis.com/css?family=Felipa');

h1{
    font-family: 'Righteous', cursive;
    text-align: center;
}

h2{
  color: #F0F;
}

h3{
  color: #BFB;
}

p{
  font-family: 'Felipa', sans-serif;
}

section{
  display: inline-block;
}

figcaption{
  text-align: center;
}

aside{
  display:  inline-block;
}

body{
  margin: 1% 20% 1% 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/background-clear.jpg');
  border: 1px solid red;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 450px; 
    height: 450px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

img {
    border-radius: 8px;
    width: 450px;
    height: 450px;
  }

  em { 
    font-style: italic;
  }

table{
    width: 45%;
    text-align: center;
}

tr, td {
    height: 20px;
  }

tr:hover {
  background-color: grey;
}

th {
    background-color: #4CAF50;
    color: white;
}
 /* tr:nth-child(odd) {
      background-color: #e6e5ea;
    } */

.social{
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul{ 
  list-style-type:none;
}

.square{
  list-style-type:square;
}

ol{
  list-style-type: upper-roman;
  }
